export(allReg)
export(ancovaReg)
export(annualStats)
export(binaryReg)
export(confirm)
export(cor.all)
export(curvi)
export(qgrubbs)
export(pgrubbs)
export(grubbs.test)
export(hosmerLemeshow.test)
export(kensen.test)
export(leCessie.test)
export(move.1)
export(multicomp.test)
export(multReg)
export(percentile)
export(ppcc.test)
export(predictDuan)
export(predictFerguson)
export(predictMVUE)
export(press)
export(qtiles.CI)
export(rmse)
export(rpd)
export(roc)
export(seaken)
export(seasonalPeak)
export(seasonalWave)
export(selBestWave)
export(senSlope)
export(serial.test)
export(skew)
export(sumStats)
export(timeWeightedMean)
export(trends)
export(vif)
importFrom(car,Anova)
importFrom(USGSwsGraphs,seriesPlot)
S3method(plot,htest)
S3method(plot,kensen)
S3method(plot,ppcc)
S3method(plot,ancovaReg)
S3method(print,ancovaReg)
S3method(plot,binaryreg)
S3method(print,binaryreg)
S3method(plot,cor.all)
S3method(print,cor.all)
S3method(summary,cor.all)
S3method(confirm,default)
S3method(percentile,default)
S3method(rmse,default)
S3method(plot,lecessie)
S3method(print,lecessie)
S3method(rmse,lm)
S3method(vif,lm)
S3method(print,MCT)
S3method(plot,move.1)
S3method(predict,move.1)
S3method(print,move.1)
S3method(plot,multReg)
S3method(print,multReg)
S3method(quantile,numeric)
S3method(plot,roc)
S3method(print,roc)
S3method(seriesPlot,seaken)
S3method(confirm,seasonalPeak)
S3method(print,seasonalPeak)
S3method(plot,senSlope)
S3method(predict,senSlope)
S3method(print,senSlope)
S3method(makepredictcall,trends)
useDynLib(USGSwsStats,seakenf)
useDynLib(USGSwsStats,phimvue)
